* {
  font-family: "Poppins", sans-serif;
}

/* global font  */

/* heading  */

.section1{
  background: url('../svg/uh.png');
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.section__overlayHome{
  background: linear-gradient(180deg,#001220bb,#001220);
}

.heading {
  font-weight: 200;
}

.svg {
  width: 100%;
  bottom: 0;
}

ul li {
  padding:.5rem 1rem;
  
}

.btn__left {
  position: relative;
}

.btn__left::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  height: 100%;
  width: 50%;
  background-color: orange;
  transform: scaleY(0);
  color: white;
  z-index: -10;
  transition: all 0.5s;
}

.btn__left:hover.btn__left::after {
  width: 100%;
}
/* de7717 */
/* 953900 */
.section2__transprent{
    
  background-color: #001220;
  padding: 1rem;
  backdrop-filter: blur(8px);
}



.imgs > * {
  background-color: rgba(255, 255, 255, 0.04);
  padding: 1.5rem;
  margin-bottom: 5px;
  font-size: 12px;
}

.img__container--section3 {
  background: url("../images/task.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}


.section4{
    background: url("../svg/section4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  transform: rotateY('100deg');
}

.section5{
    background: url("../svg/hjbc.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.section5__img__container{
/* background-color: red; */
height: 50%;
}

.section5__img__container img{
height: 100%;
width: 100%;
margin: 0 5px;
}

.section6{
       background: url("../svg/hjbcCopy.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.section7{
    background: url("../svg/hjbcCopy1.svg");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.section7__right{
  background-color: rgba(0, 0, 0, 0.095);
  padding: 1rem;
  backdrop-filter: blur(8px);
}

.section8__main__container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.851),rgba(0, 0, 0, 0.834)),url('../svg/tgr.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

.section8__img__overlay{
  background-color: rgba(88, 64, 68, 0.129);
  height: 100%;
  width: 75%;
  position: absolute;
}

.section8__left__container{
background-color: #c88d8e26;
backdrop-filter: blur(8px);
color: white;
}





.new__letter{
    background-image:  url('../svg/newLesst1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.new__letter__overlay{
  height: 100%;
  width: 100%;
  background-color: red;
  background: linear-gradient(180deg, 
    #001220ad, #001220);
}

